body {
  background-color:white;
  width: 80%;
  margin: auto;
  margin-top: 20px !important;
  border: 1px solid black;
  padding: 0 10px;
  box-shadow: 5px 10px;
}

div {
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid black;
  padding: 10px 0px;
}

p {
  display: inline-block;
}

button {
  width: 100%;
  padding: 10px;
  background-color: blanchedalmond;
  color: grey;
}

