body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: skyblue;
  width: 70%;
  margin: auto;
  padding: 0 10px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0 15px;
}

#wrapper {
  background-color:white;
  margin-top: 70px;
  border: 2px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

i:active, i:hover{
  cursor: move;
}

p {
  display: inline-block;
}

button {
  width: 100%;
  padding: 10px;
  background-color: lightcoral;
  color: white;
  font-weight: bolder;
  border: none;
  border-top: 1px solid black;
}

@media screen and (min-width: 768px) {
  body {
    width: 50%;
  }
}
